*, 
*::before, 
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

button {
  display: block;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

h1, 
h2, 
h3, 
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img, 
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

ul, 
li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  min-width: 580px;
  min-height: 100vh;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000000;
  text-rendering: optimizeLegibility;
  background-color: #e8eaed;
  scroll-behavior: smooth;
  cursor: default;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.posts__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.wrapper {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #dcdee1;
  border-radius: 5px;
  background-color: #ffffff;
}

.create-btn {
  margin-left: auto;
  padding: 5px 10px;
  border: 1px solid #4469ae;
  border-radius: 5px;
  background-color: #4469ae;
  color: #ffffff;
}

.post__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 0;
}

.post__header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px 20px 0;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-outside-1_291_5' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10' fill='black'%3E%3Crect fill='white' width='10' height='10'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 1L9 9Z'/%3E%3C/mask%3E%3Cpath d='M1.70711 0.292893C1.31658 -0.0976311 0.683418 -0.0976311 0.292893 0.292893C-0.0976311 0.683418 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM8.29289 9.70711C8.68342 10.0976 9.31658 10.0976 9.70711 9.70711C10.0976 9.31658 10.0976 8.68342 9.70711 8.29289L8.29289 9.70711ZM0.292893 1.70711L8.29289 9.70711L9.70711 8.29289L1.70711 0.292893L0.292893 1.70711Z' fill='%23CED0D4' mask='url(%23path-1-outside-1_291_5)'/%3E%3Cmask id='path-3-outside-2_291_5' maskUnits='userSpaceOnUse' x='8' y='0' width='10' height='10' fill='black'%3E%3Crect fill='white' x='8' width='10' height='10'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 9L17 1Z'/%3E%3C/mask%3E%3Cpath d='M8.29289 8.29289C7.90237 8.68342 7.90237 9.31658 8.29289 9.70711C8.68342 10.0976 9.31658 10.0976 9.70711 9.70711L8.29289 8.29289ZM17.7071 1.70711C18.0976 1.31658 18.0976 0.683418 17.7071 0.292893C17.3166 -0.0976311 16.6834 -0.0976311 16.2929 0.292893L17.7071 1.70711ZM9.70711 9.70711L17.7071 1.70711L16.2929 0.292893L8.29289 8.29289L9.70711 9.70711Z' fill='%23CED0D4' mask='url(%23path-3-outside-2_291_5)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 20px top 10px;
  background-size: 15px;
}

.post__avatar {
  width: 50px;
  border-radius: 50%;
}

.post__author-name {
  font-weight: bold;
  color: #4469ae;
}

.post__author-wrapper {
  color: #61676F;
}

.post__author-rank {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.17647 18L4.23529 17L5.29412 16.061C5.29412 16.061 6.88235 14.5 8.47059 14.5C10.0588 14.5 11.6471 16.061 11.6471 16.061L12.7059 17L13.7647 18H3.17647ZM7.72941 5.16097C6.45882 1.26097 0 2.16097 0 2.16097C0 2.16097 0.211765 9.96097 6.24706 8.76097C5.82353 5.86097 4.23529 5.06097 4.23529 5.06097C7.2 5.06097 7.41177 8.46097 7.41177 8.46097V13.061C7.72941 13.061 8.15294 13.061 8.47059 13.061C8.78824 13.061 9.21177 13.061 9.52941 13.061V8.86097C9.52941 8.86097 9.52941 4.96097 12.7059 3.96097C12.7059 3.96097 10.5882 6.96097 10.5882 8.96097C18 9.66097 18 0.0609663 18 0.0609663C18 0.0609663 8.57647 -0.939034 7.72941 5.16097Z' fill='%2361676F'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15px;
  padding-left: 20px;
}

.post__author-time::before {
  content: '\0020\00B7\0020';
}

.post__body {
  width: 100%;
  padding: 0 20px;
}

.post__content {
  font-size: 1.5rem;
  font-weight: 500;
}

.post__content::after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #D9DCE0;
  margin: 10px auto;
}

.post__btn-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.like-btn,
.comment-btn {
  font-weight: 600;
}

.like-btn::before,
.comment-btn::before {
  display: inline-block;
  width: 30px;
  vertical-align: middle;
}

.like-btn::before {
  content: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 8.5875C18 7.3875 17.0625 6.75 15.75 6.75H11.9625C12.225 5.7375 12.375 4.7625 12.375 3.9375C12.375 0.675 11.475 0 10.6875 0C10.1625 0 9.7875 0.0375 9.2625 0.375C9.1125 0.45 9.0375 0.6 9 0.75L8.4375 3.7875C7.8375 5.4 6.3 6.7875 5.0625 7.725V15.75C5.475 15.75 6 15.975 6.4875 16.2375C7.0875 16.5375 7.725 16.8375 8.4375 16.8375H13.8C14.925 16.8375 15.75 15.9375 15.75 15.15C15.75 15 15.75 14.85 15.7125 14.7375C16.425 14.475 16.875 13.875 16.875 13.2C16.875 12.8625 16.8 12.5625 16.6875 12.3375C17.1 12.0375 17.55 11.55 17.55 10.95C17.55 10.65 17.4 10.275 17.175 10.0125C17.6625 9.6375 18 9.1125 18 8.5875ZM16.8375 8.5875C16.8375 9.3 16.0875 9.375 15.975 9.7125C15.8625 10.0875 16.425 10.2375 16.425 10.9125C16.425 11.625 15.5625 11.625 15.45 11.9625C15.3 12.375 15.7125 12.525 15.7125 13.2C15.7125 13.2375 15.7125 13.275 15.7125 13.3125C15.6 13.875 14.7375 13.9125 14.5875 14.1375C14.4375 14.4 14.625 14.55 14.625 15.15C14.625 15.4875 14.25 15.7125 13.8 15.7125H8.4375C8.025 15.7125 7.5 15.4875 7.0125 15.225C6.5625 15 6.1125 14.775 5.625 14.6625V8.7C7.0125 7.65 8.8125 6.0375 9.525 4.0875C9.525 4.05 9.525 4.0125 9.5625 4.0125L10.0875 1.2C10.275 1.125 10.425 1.125 10.725 1.125C10.8375 1.125 11.2875 1.8 11.2875 3.9375C11.2875 4.7625 11.1375 5.7 10.8375 6.75H10.6875C10.3875 6.75 10.125 7.0125 10.125 7.3125C10.125 7.6125 10.3875 7.875 10.6875 7.875H15.75C16.3125 7.875 16.8375 8.1375 16.8375 8.5875Z' fill='%2361676F'/%3E%3Cpath d='M4.5 16.875H1.125C0.4875 16.875 0 16.3875 0 15.75V7.875C0 7.2375 0.4875 6.75 1.125 6.75H4.5C5.1375 6.75 5.625 7.2375 5.625 7.875V15.75C5.625 16.3875 5.1375 16.875 4.5 16.875ZM1.125 7.875V15.75H4.5V7.875H1.125Z' fill='%2361676F'/%3E%3C/svg%3E%0A");
}

.comment-btn::before {
  content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8881 1.87488e-06H2.10905C1.54969 1.87488e-06 1.01325 0.222204 0.617725 0.617727C0.222202 1.01325 0 1.54969 0 2.10905L0 11.1878C0 11.7471 0.222202 12.2836 0.617725 12.6791C1.01325 13.0746 1.54969 13.2968 2.10905 13.2968H5.38228C5.41957 13.2968 5.45534 13.3116 5.4817 13.338C5.50807 13.3644 5.52289 13.4001 5.52289 13.4374V17.013C5.52287 17.2076 5.58059 17.3979 5.68874 17.5598C5.79688 17.7217 5.9506 17.8478 6.13045 17.9223C6.3103 17.9968 6.50821 18.0163 6.69914 17.9783C6.89007 17.9404 7.06545 17.8466 7.20309 17.709L11.573 13.339C11.5862 13.326 11.6018 13.3157 11.6189 13.3087C11.636 13.3017 11.6544 13.2981 11.6729 13.2982H15.891C16.4503 13.2982 16.9868 13.076 17.3823 12.6805C17.7778 12.285 18 11.7485 18 11.1892V2.10905C18 1.83185 17.9454 1.55737 17.8392 1.3013C17.733 1.04524 17.5774 0.812612 17.3813 0.616732C17.1851 0.420852 16.9523 0.26556 16.6961 0.159736C16.4399 0.0539116 16.1653 -0.000367726 15.8881 1.87488e-06ZM17.1536 11.1878C17.1536 11.5234 17.0202 11.8453 16.7829 12.0826C16.5456 12.3199 16.2238 12.4532 15.8881 12.4532H11.6701C11.41 12.4513 11.1598 12.5524 10.9741 12.7344L6.60834 17.1114C6.58868 17.1312 6.56355 17.1447 6.53617 17.1502C6.50879 17.1557 6.48039 17.1529 6.45459 17.1422C6.4288 17.1315 6.40678 17.1134 6.39134 17.0901C6.37591 17.0668 6.36775 17.0395 6.36791 17.0116V13.4374C6.36791 13.1764 6.26422 12.9261 6.07964 12.7415C5.89506 12.5569 5.64472 12.4532 5.38369 12.4532H2.10905C1.77343 12.4532 1.45157 12.3199 1.21425 12.0826C0.97694 11.8453 0.843618 11.5234 0.843618 11.1878V2.10905C0.843618 1.77344 0.97694 1.45157 1.21425 1.21426C1.45157 0.976941 1.77343 0.84362 2.10905 0.84362H15.8881C16.2238 0.84362 16.5456 0.976941 16.7829 1.21426C17.0202 1.45157 17.1536 1.77344 17.1536 2.10905V11.1878Z' fill='%2361676F'/%3E%3C/svg%3E%0A");
}

.post__create {
  width: 100%;
  border-top: 1px solid #D9DCE0;
}

.post__create-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}

.post__create-wrapper .post__avatar {
  width: 35px;
}

.post__control {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5px;
  border: 1px solid #CBCFD4;
  border-radius: 15px;
  background-color: #F2F3F5;
}

.post__form {
  flex: 1;
  border: none;
  background-color: transparent;
  cursor: text;
}

.post__form-textarea {
  max-height: 70px;
  padding: 5px;
  border: none;
  overflow-y: auto;
  outline: none;
}

.post__form-textarea::before {
  content: 'Напишите комментарий...';
  position: absolute;
  color: #bebebe;
}

.post__form-textarea:focus::before,
.post__form-textarea:not(:empty):not(:focus)::before {
  color: transparent;
  z-index: -1;
}

.post__form-textarea:empty:focus::before {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.smile-btn,
.photo-btn,
.gif-btn,
.emoji-btn {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.smile-btn {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99946 0C4.0373 0 0 4.0373 0 8.99984C0 13.9624 4.03698 17.9993 8.99946 17.9993C13.9623 17.9993 18 13.9623 18 8.99984C18 4.03736 13.9623 0 8.99946 0ZM8.99946 17.3059C4.41915 17.3059 0.693004 13.5794 0.693004 8.99946C0.693004 4.41915 4.41915 0.692681 8.99946 0.692681C13.5801 0.692681 17.3069 4.41883 17.3069 8.99946C17.3066 13.5798 13.5801 17.3059 8.99946 17.3059ZM14.8861 9.91536C14.3154 12.7038 11.8322 14.7282 8.98145 14.7282C6.17638 14.7282 3.76491 12.8251 3.11731 10.099C3.05077 9.82003 3.22336 9.54004 3.50266 9.47356C3.78297 9.4046 4.06227 9.57994 4.12848 9.85853C4.66491 12.1137 6.66051 13.6886 8.98151 13.6886C11.3406 13.6886 13.3955 12.0143 13.8678 9.70713C13.9257 9.42541 14.2015 9.24489 14.4815 9.30172C14.7625 9.3592 14.9437 9.63396 14.8861 9.91536ZM10.0491 6.28762C10.0491 5.71274 10.5148 5.24738 11.0893 5.24738C11.6638 5.24738 12.1295 5.71274 12.1295 6.28762C12.1295 6.86179 11.6638 7.32785 11.0893 7.32785C10.5148 7.32785 10.0491 6.86184 10.0491 6.28762ZM5.7176 6.28762C5.7176 5.71274 6.18334 5.24738 6.75783 5.24738C7.33232 5.24738 7.79807 5.71274 7.79807 6.28762C7.79807 6.86179 7.33232 7.32785 6.75783 7.32785C6.18334 7.32785 5.7176 6.86184 5.7176 6.28762Z' fill='%23676E75'/%3E%3Ccircle cx='9' cy='9' r='8.5' stroke='%2360676F'/%3E%3C/svg%3E%0A");
}

.photo-btn {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0908 6C15.6431 6 16.0908 5.55228 16.0908 5C16.0908 4.44772 15.6431 4 15.0908 4C14.5385 4 14.0908 4.44772 14.0908 5C14.0908 5.55228 14.5385 6 15.0908 6Z' fill='%2360676F'/%3E%3Cpath d='M4.72766 1.49996C4.8283 1.49996 4.9093 1.41095 4.9093 1.29998V0.699977C4.9093 0.589977 4.8283 0.5 4.72766 0.5H3.45457C3.35395 0.5 3.27295 0.589006 3.27295 0.699977V1.29998C3.27295 1.40998 3.35395 1.49996 3.45457 1.49996H4.72766Z' fill='%2360676F'/%3E%3Cpath d='M9 14C11.7611 14 14 11.7611 14 9.00002C14 6.23889 11.7611 4 9 4C6.2389 4 4 6.23889 4 9.00002C4 11.7611 6.2389 14 9 14ZM9 5.11114C11.1478 5.11114 12.8889 6.85224 12.8889 9.00002C12.8889 11.1477 11.1478 12.8889 9 12.8889C6.85225 12.8889 5.1111 11.1477 5.1111 9.00002C5.1111 6.85224 6.85225 5.11114 9 5.11114Z' fill='%2360676F'/%3E%3Cpath d='M0 3.99996V14C0 16 1.63635 16 1.63635 16H16.3636C16.3636 16 18 16 18 14V3.99996C18 1.99998 16.3636 1.99998 16.3636 1.99998H13.2545L12.3856 0.230999C12.3234 0.10299 12.1729 0 12.0551 0H6.76309C6.64282 0 6.49309 0.107016 6.43253 0.230999L5.56362 1.99998H1.63635C1.63635 1.99995 0 1.99995 0 3.99996ZM6.11509 2.99997L7.02653 0.999955H11.7131L12.7497 2.99997H16.3546C16.3546 2.99997 17.1818 2.99997 17.1818 4.01797V13.9809C17.1818 15 16.3546 15 16.3546 15H1.64535C1.64535 15 0.818176 15 0.818176 13.9809V4.01797C0.818176 2.99997 1.64535 2.99997 1.64535 2.99997H6.11509Z' fill='%2360676F'/%3E%3C/svg%3E%0A");
}

.gif-btn {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.075 0C16.6347 0 17.9093 1.33526 17.9954 3.01768L18 3.19922V12.5507C18 14.2568 16.7791 15.6508 15.2409 15.7449L15.075 15.75H2.925C1.36527 15.75 0.0906751 14.4147 0.00463513 12.7323L0 12.5507V3.19922C0 1.49327 1.2208 0.0991799 2.75902 0.0050624L2.925 0H15.075ZM14.9062 1.125H3.09375C2.05174 1.125 1.19881 2.01712 1.12955 3.1461L1.125 3.29464V12.4553C1.125 13.6037 1.93452 14.5437 2.95895 14.62L3.09375 14.625H14.9062C15.9482 14.625 16.8012 13.7329 16.8705 12.6039L16.875 12.4553V3.29464C16.875 2.14631 16.0654 1.20634 15.041 1.13001L14.9062 1.125ZM5.45777 4.50241C6.15521 4.50241 6.74895 4.61115 7.23633 4.83815C7.5363 4.97787 7.65702 5.31606 7.50598 5.59353C7.35493 5.871 6.98931 5.98267 6.68935 5.84296C6.38764 5.70243 5.978 5.62741 5.45777 5.62741C4.30282 5.62741 3.46621 6.56381 3.46621 7.87624C3.46621 9.13601 4.38078 10.125 5.45777 10.125C6.12856 10.125 6.58432 9.72979 6.65046 9.36765L6.65879 9.2781V8.43874L6.23311 8.4375C5.89726 8.4375 5.625 8.18561 5.625 7.875C5.625 7.59886 5.84012 7.36919 6.1238 7.32157L6.23311 7.3125L7.26689 7.3137C7.56542 7.3137 7.81371 7.51268 7.8652 7.77509L7.875 7.87624V9.2781C7.875 10.265 6.8777 11.25 5.45777 11.25C3.66325 11.25 2.25 9.72169 2.25 7.87624C2.25 5.98483 3.57443 4.50241 5.45777 4.50241ZM10.125 4.5C10.4012 4.5 10.6308 4.69899 10.6784 4.96139L10.6875 5.0625V10.6875C10.6875 10.9981 10.4356 11.25 10.125 11.25C9.84881 11.25 9.6192 11.051 9.57161 10.7886L9.5625 10.6875V5.0625C9.5625 4.75184 9.81439 4.5 10.125 4.5ZM15.1875 4.5C15.4981 4.5 15.75 4.75184 15.75 5.0625C15.75 5.33864 15.551 5.56831 15.2886 5.61593L15.1875 5.625H13.5V7.875H15.1875C15.4981 7.875 15.75 8.12689 15.75 8.4375C15.75 8.71369 15.551 8.9433 15.2886 8.99089L15.1875 9H13.5V10.6875C13.5 10.9981 13.2481 11.25 12.9375 11.25C12.6613 11.25 12.4317 11.051 12.3841 10.7886L12.375 10.6875V5.0625C12.375 4.75184 12.6269 4.5 12.9375 4.5H15.1875Z' fill='%23676E75'/%3E%3C/svg%3E%0A");
}

.emoji-btn {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.75 0C16.4831 0 17.8992 1.35646 17.9948 3.06558L18 3.25V10.0466C18 10.6433 17.7867 11.2181 17.4022 11.6688L17.2677 11.8143L11.8143 17.2677C11.3924 17.6897 10.8351 17.9452 10.2445 17.9921L10.0466 18H3.25C1.51697 18 0.100755 16.6436 0.00514126 14.9344L0 14.75V3.25C0 1.51697 1.35646 0.100755 3.06558 0.00514126L3.25 0H14.75ZM14.6601 1.125H3.33984C2.16758 1.125 1.20804 2.03571 1.13011 3.18821L1.125 3.33984V14.6601C1.125 15.8325 2.03571 16.792 3.18821 16.8699L3.33984 16.875H10.1222L10.1225 13.3966C8.20125 13.754 6.14244 13.1849 4.66301 11.6923C4.4443 11.4717 4.44588 11.1156 4.6665 10.8969C4.88713 10.6782 5.24329 10.6797 5.46199 10.9004C6.73317 12.1827 8.52866 12.6295 10.165 12.2376C10.1713 12.1719 10.1788 12.1153 10.1869 12.0642C10.6193 10.9033 11.708 10.2024 13.0021 10.1301L13.1836 10.125H16.875V3.33984C16.875 2.16758 15.9643 1.20804 14.8118 1.13011L14.6601 1.125ZM16.4077 11.2503L13.3011 11.25C12.2155 11.25 11.3269 12.0934 11.2547 13.1607L11.25 13.3011V16.407L11.3478 16.3193L16.3193 11.3478C16.3504 11.3166 16.3799 11.2841 16.4077 11.2503ZM5.625 5.625C6.24632 5.625 6.75 6.12868 6.75 6.75C6.75 7.37132 6.24632 7.875 5.625 7.875C5.00368 7.875 4.5 7.37132 4.5 6.75C4.5 6.12868 5.00368 5.625 5.625 5.625ZM12.375 5.625C12.9963 5.625 13.5 6.12868 13.5 6.75C13.5 7.37132 12.9963 7.875 12.375 7.875C11.7537 7.875 11.25 7.37132 11.25 6.75C11.25 6.12868 11.7537 5.625 12.375 5.625Z' fill='%2360676F'/%3E%3C/svg%3E%0A");
}

.post__new {
  padding: 0;
  background-color: #f2f3f5;
}

.post__new-control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ffffff;
}

.public-btn,
.multimedia-btn,
.live-btn,
.more-btn {
  font-weight: 600;
  color: #4D699E;
  padding-right: 5px;
}

.public-btn {
  color: #505153;
}

.public-btn,
.multimedia-btn,
.live-btn {
  border-right: 1px solid #ced0d4;
}

.public-btn::before,
.multimedia-btn::before,
.live-btn::before,
.more-btn::before {
  display: inline-block;
  width: 30px;
  vertical-align: middle;
}

.public-btn::before {
  content: url("data:image/svg+xml,%3Csvg width='18' height='15' viewBox='0 0 18 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.60352 15C0.518869 15.0005 0.435068 14.9837 0.357626 14.9509C0.280183 14.918 0.210853 14.8697 0.154192 14.8092C0.0975314 14.7487 0.0548235 14.6774 0.0288758 14.5999C0.00292811 14.5224 -0.00567172 14.4405 0.00364159 14.3596L0.465548 10.3211C0.481991 10.192 0.543294 10.072 0.639513 9.98067L10.4535 0.54204C10.6318 0.370215 10.8436 0.233896 11.0768 0.140886C11.3099 0.0478754 11.5598 0 11.8123 0C12.0647 0 12.3146 0.0478754 12.5477 0.140886C12.7809 0.233896 12.9927 0.370215 13.171 0.54204L15.0366 2.3363C15.2153 2.50778 15.357 2.71147 15.4537 2.9357C15.5504 3.15993 15.6002 3.4003 15.6002 3.64306C15.6002 3.88581 15.5504 4.12618 15.4537 4.35041C15.357 4.57464 15.2153 4.77833 15.0366 4.94981L5.22858 14.3827C5.13359 14.4752 5.00887 14.5342 4.87466 14.55L0.675506 14.9942L0.60352 15ZM1.64131 10.6441L1.28138 13.7711L4.53273 13.425L14.1908 4.13633C14.2579 4.07202 14.3111 3.99559 14.3475 3.91144C14.3838 3.82728 14.4025 3.73706 14.4025 3.64594C14.4025 3.55482 14.3838 3.4646 14.3475 3.38045C14.3111 3.29629 14.2579 3.21987 14.1908 3.15555L12.3192 1.35552C12.2523 1.29097 12.1728 1.23976 12.0853 1.20482C11.9978 1.16988 11.904 1.15189 11.8093 1.15189C11.7145 1.15189 11.6207 1.16988 11.5332 1.20482C11.4457 1.23976 11.3662 1.29097 11.2994 1.35552L1.64131 10.6441Z' fill='%2361656C'/%3E%3Cpath d='M13.2011 6.46708C13.1222 6.46751 13.0439 6.45296 12.9708 6.42425C12.8977 6.39554 12.8313 6.35324 12.7752 6.29976L9.04995 2.70547C8.99402 2.65168 8.94965 2.58782 8.91938 2.51753C8.88911 2.44725 8.87354 2.37192 8.87354 2.29585C8.87354 2.21977 8.88911 2.14444 8.91938 2.07416C8.94965 2.00388 8.99402 1.94002 9.04995 1.88622C9.10589 1.83243 9.17229 1.78976 9.24536 1.76065C9.31844 1.73154 9.39677 1.71655 9.47587 1.71655C9.55497 1.71655 9.63329 1.73154 9.70637 1.76065C9.77945 1.78976 9.84585 1.83243 9.90178 1.88622L13.639 5.48052C13.6953 5.53415 13.7399 5.59796 13.7703 5.66827C13.8008 5.73857 13.8165 5.81398 13.8165 5.89014C13.8165 5.9663 13.8008 6.04171 13.7703 6.11202C13.7399 6.18232 13.6953 6.24613 13.639 6.29976C13.5816 6.35464 13.5131 6.39775 13.4379 6.4265C13.3626 6.45526 13.2821 6.46906 13.2011 6.46708Z' fill='%2361656C'/%3E%3Cpath d='M9.05302 5.48267L4.38281 9.97424L5.23117 10.7902L9.90137 6.29858L9.05302 5.48267Z' fill='%2361656C'/%3E%3Cpath d='M17.4001 15.0001H7.80203C7.64293 15.0001 7.49035 14.9393 7.37785 14.8311C7.26535 14.7229 7.20215 14.5761 7.20215 14.4231C7.20215 14.2701 7.26535 14.1234 7.37785 14.0152C7.49035 13.907 7.64293 13.8462 7.80203 13.8462H17.4001C17.5592 13.8462 17.7118 13.907 17.8243 14.0152C17.9368 14.1234 18 14.2701 18 14.4231C18 14.5761 17.9368 14.7229 17.8243 14.8311C17.7118 14.9393 17.5592 15.0001 17.4001 15.0001Z' fill='%2361656C'/%3E%3C/svg%3E%0A");
}

.multimedia-btn::before {
  content: url("data:image/svg+xml,%3Csvg width='18' height='15' viewBox='0 0 18 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8 13H0.6C0.44087 13 0.288258 12.9473 0.175736 12.8536C0.0632141 12.7598 0 12.6326 0 12.5V0.5C0 0.367392 0.0632141 0.240215 0.175736 0.146447C0.288258 0.0526784 0.44087 0 0.6 0H13.8C13.9591 0 14.1117 0.0526784 14.2243 0.146447C14.3368 0.240215 14.4 0.367392 14.4 0.5V12.5C14.4 12.6326 14.3368 12.7598 14.2243 12.8536C14.1117 12.9473 13.9591 13 13.8 13ZM1.2 12H13.2V1H1.2V12Z' fill='%2361656C'/%3E%3Cpath d='M17.4001 15H4.2001C4.04097 15 3.88836 14.9473 3.77583 14.8536C3.66331 14.7598 3.6001 14.6326 3.6001 14.5C3.6001 14.3674 3.66331 14.2402 3.77583 14.1464C3.88836 14.0527 4.04097 14 4.2001 14H16.8001V3H16.2001C16.041 3 15.8884 2.94732 15.7758 2.85355C15.6633 2.75979 15.6001 2.63261 15.6001 2.5C15.6001 2.36739 15.6633 2.24021 15.7758 2.14645C15.8884 2.05268 16.041 2 16.2001 2H17.4001C17.5592 2 17.7118 2.05268 17.8244 2.14645C17.9369 2.24021 18.0001 2.36739 18.0001 2.5V14.5C18.0001 14.6326 17.9369 14.7598 17.8244 14.8536C17.7118 14.9473 17.5592 15 17.4001 15Z' fill='%2361656C'/%3E%3Cpath d='M0.599847 10.4299C0.442443 10.4293 0.291603 10.3773 0.179847 10.2849C0.0680962 10.1912 0.00537109 10.0645 0.00537109 9.9324C0.00537109 9.80031 0.0680962 9.67358 0.179847 9.5799L2.60985 7.4999C2.879 7.27083 3.23808 7.13013 3.62146 7.10351C4.00484 7.07688 4.38691 7.16612 4.69785 7.3549L6.85185 8.6549C6.93115 8.70173 7.02791 8.72344 7.12471 8.71611C7.2215 8.70877 7.31198 8.67288 7.37985 8.6149L9.59985 6.7549C9.90745 6.50744 10.3183 6.36914 10.7458 6.36914C11.1734 6.36914 11.5842 6.50744 11.8918 6.7549L14.2198 8.7199C14.3174 8.81612 14.3677 8.93948 14.3609 9.06531C14.354 9.19114 14.2904 9.31017 14.1827 9.3986C14.0751 9.48703 13.9314 9.53836 13.7803 9.5423C13.6292 9.54625 13.4819 9.50254 13.3678 9.4199L11.0398 7.4549C11.0012 7.42101 10.9546 7.39403 10.9031 7.37559C10.8515 7.35716 10.796 7.34765 10.7398 7.34765C10.6837 7.34765 10.6282 7.35716 10.5766 7.37559C10.5251 7.39403 10.4785 7.42101 10.4398 7.4549L8.21385 9.3299C7.94481 9.55879 7.58626 9.69978 7.2032 9.7273C6.82014 9.75482 6.43792 9.66705 6.12585 9.4799L3.97185 8.1799C3.89369 8.13142 3.79707 8.10825 3.69995 8.11469C3.60283 8.12113 3.51182 8.15674 3.44385 8.2149L1.02585 10.2799C0.970278 10.3271 0.904011 10.3647 0.830886 10.3905C0.757761 10.4162 0.679231 10.4296 0.599847 10.4299Z' fill='%2361656C'/%3E%3Cpath d='M7.71006 5.93005C7.23538 5.93005 6.77137 5.81276 6.37669 5.59299C5.98201 5.37323 5.6744 5.06087 5.49275 4.69542C5.3111 4.32997 5.26357 3.92784 5.35617 3.53987C5.44878 3.15191 5.67736 2.79555 6.013 2.51584C6.34865 2.23614 6.77629 2.04565 7.24184 1.96848C7.7074 1.89131 8.18996 1.93092 8.6285 2.0823C9.06704 2.23367 9.44187 2.49002 9.70559 2.81891C9.9693 3.14781 10.1101 3.53449 10.1101 3.93005C10.1101 4.1927 10.048 4.45277 9.92737 4.69542C9.80676 4.93807 9.62998 5.15855 9.40712 5.34427C9.18426 5.52999 8.91968 5.6773 8.6285 5.77781C8.33732 5.87832 8.02523 5.93005 7.71006 5.93005ZM7.71006 2.93005C7.47272 2.93005 7.24071 2.9887 7.04338 3.09859C6.84604 3.20847 6.69223 3.36465 6.6014 3.54737C6.51058 3.7301 6.48682 3.93116 6.53312 4.12514C6.57942 4.31913 6.69371 4.49731 6.86153 4.63716C7.02935 4.77701 7.24317 4.87225 7.47595 4.91084C7.70873 4.94943 7.95001 4.92962 8.16928 4.85393C8.38855 4.77825 8.57597 4.65007 8.70782 4.48563C8.83968 4.32118 8.91006 4.12784 8.91006 3.93005C8.91006 3.66484 8.78363 3.41048 8.55859 3.22295C8.33354 3.03541 8.02832 2.93005 7.71006 2.93005Z' fill='%2361656C'/%3E%3C/svg%3E%0A");
}

.live-btn::before {
  content: url("data:image/svg+xml,%3Csvg width='18' height='15' viewBox='0 0 18 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 2.88462C0 1.29149 1.06038 0 2.36842 0H11.8421C13.1501 0 14.2105 1.29149 14.2105 2.88462V12.1154C14.2105 13.7085 13.1501 15 11.8421 15H2.36842C1.06038 15 0 13.7085 0 12.1154V2.88462ZM2.36842 1.15385C1.58359 1.15385 0.947368 1.92873 0.947368 2.88462V12.1154C0.947368 13.0712 1.58359 13.8462 2.36842 13.8462H11.8421C12.6269 13.8462 13.2632 13.0712 13.2632 12.1154V2.88462C13.2632 1.92873 12.6269 1.15385 11.8421 1.15385H2.36842Z' fill='%2361656C'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.3828 1.15375C16.9796 0.426858 18 0.941669 18 1.96964V13.0302C18 14.0581 16.9796 14.573 16.3828 13.8461L13.4019 10.2156C13.3131 10.1074 13.2632 9.96059 13.2632 9.80759V5.19221C13.2632 5.0392 13.3131 4.89245 13.4019 4.78427L16.3828 1.15375ZM14.2106 5.43117V9.56863L17.0527 13.0302V1.96964L14.2106 5.43117Z' fill='%2361656C'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.84234 7.50011L2.5074 7.90811C2.3224 7.68277 2.3224 7.31746 2.5074 7.09211L2.84234 7.50011ZM11.3687 7.50011L11.7036 7.90811C11.8886 7.68277 11.8886 7.31746 11.7036 7.09211L11.3687 7.50011ZM3.53858 7.50011C3.54413 7.50611 3.54974 7.51211 3.55541 7.51823C3.79846 7.77946 4.14082 8.12677 4.53872 8.47292C5.36148 9.18877 6.31992 9.8078 7.1055 9.8078C7.89105 9.8078 8.84951 9.18877 9.6723 8.47292C10.0702 8.12677 10.4126 7.77946 10.6556 7.51823C10.6613 7.51211 10.6668 7.50611 10.6724 7.50011C10.6668 7.49411 10.6613 7.48811 10.6556 7.482C10.4126 7.22077 10.0702 6.87346 9.6723 6.52731C8.84951 5.81146 7.89105 5.19242 7.1055 5.19242C6.31992 5.19242 5.36148 5.81146 4.53872 6.52731C4.14082 6.87346 3.79846 7.22077 3.55541 7.482C3.54974 7.48811 3.54413 7.49411 3.53858 7.50011ZM3.98807 5.5883C4.8232 4.86181 5.99634 4.03857 7.1055 4.03857C8.21468 4.03857 9.3878 4.86181 10.2229 5.5883C10.654 5.9633 11.0221 6.33715 11.2824 6.61684C11.4128 6.75692 11.5167 6.87415 11.5887 6.957C11.6247 6.99854 11.6528 7.03142 11.6721 7.05438L11.6945 7.08127L11.7008 7.08877L11.7026 7.09096L11.7036 7.09211C11.7036 7.09223 11.7036 7.09211 11.3687 7.50011C11.7036 7.90811 11.7036 7.908 11.7036 7.90811L11.7026 7.90927L11.7008 7.91146L11.6945 7.91896L11.6721 7.94584C11.6528 7.96881 11.6247 8.00169 11.5887 8.04323C11.5167 8.12607 11.4128 8.24331 11.2824 8.38338C11.0221 8.66307 10.654 9.03692 10.2229 9.41192C9.3878 10.1384 8.21468 10.9617 7.1055 10.9617C5.99634 10.9617 4.8232 10.1384 3.98807 9.41192C3.55701 9.03692 3.18885 8.66307 2.92861 8.38338C2.79822 8.24331 2.69426 8.12607 2.62229 8.04323C2.58629 8.00169 2.55826 7.96881 2.53889 7.94584L2.5164 7.91896L2.51018 7.91146L2.50835 7.90927L2.5074 7.90811C2.50731 7.908 2.5074 7.90811 2.84234 7.50011C2.5074 7.09211 2.50731 7.09223 2.5074 7.09211L2.50835 7.09096L2.51018 7.08877L2.5164 7.08127L2.53889 7.05438C2.55826 7.03142 2.58629 6.99854 2.62229 6.957C2.69426 6.87415 2.79822 6.75692 2.92861 6.61684C3.18885 6.33715 3.55701 5.9633 3.98807 5.5883Z' fill='%2361656C'/%3E%3C/svg%3E%0A");
}

.more-btn::before {
  content: url("data:image/svg+xml,%3Csvg width='18' height='15' viewBox='0 0 18 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8943 14.9993C11.759 14.9984 11.1211 14.9993 11 14.9993H10.29H1.8C1.32261 14.9993 0.864773 14.7838 0.527208 14.4002C0.189642 14.0166 0 13.4964 0 12.9539V2.04535C0 1.50289 0.189642 0.982648 0.527208 0.59907C0.864773 0.215492 1.32261 0 1.8 0H16.2C16.6774 0 17.1352 0.215492 17.4728 0.59907C17.8104 0.982648 18 1.50289 18 2.04535V12.9539C18 13.4964 17.8104 14.0166 17.4728 14.4002C17.1352 14.7838 16.6774 14.9993 16.2 14.9993H14.4C14.4 14.9993 12.7928 14.9993 12.7082 14.9993C12.6237 14.9993 12.5 14.9993 12.407 14.9993C12.314 14.9993 11.9839 15.0009 11.8943 14.9993ZM1.8 1.36357C1.64087 1.36357 1.48826 1.4354 1.37574 1.56326C1.26321 1.69112 1.2 1.86453 1.2 2.04535V12.9539C1.2 13.1347 1.26321 13.3081 1.37574 13.436C1.48826 13.5639 1.64087 13.6357 1.8 13.6357H10.5H11H13.5L14 13.6357H14.5C14.5 13.6357 14.8409 13.6357 15 13.6357H16.2C16.3591 13.6357 16.5117 13.5639 16.6243 13.436C16.7368 13.3081 16.8 13.1347 16.8 12.9539V2.04535C16.8 1.86453 16.7368 1.69112 16.6243 1.56326C16.5117 1.4354 16.3591 1.36357 16.2 1.36357H1.8Z' fill='%2361656C'/%3E%3Cpath d='M9.5999 6.81775H8.3999V8.18132H9.5999V6.81775Z' fill='%2361656C'/%3E%3Cpath d='M5.4002 6.81775H4.2002V8.18132H5.4002V6.81775Z' fill='%2361656C'/%3E%3Cpath d='M13.8001 6.81775H12.6001V8.18132H13.8001V6.81775Z' fill='%2361656C'/%3E%3C/svg%3E%0A");
}

.close-btn {
  flex: 1;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.2608 7.49787L14.6306 2.14055C14.8658 1.90539 14.9979 1.58646 14.9979 1.2539C14.9979 0.921347 14.8658 0.602412 14.6306 0.36726C14.3955 0.132107 14.0765 0 13.744 0C13.4114 0 13.0925 0.132107 12.8573 0.36726L7.5 5.73707L2.14268 0.36726C1.90752 0.132107 1.58859 -2.47773e-09 1.25603 0C0.923478 2.47773e-09 0.604543 0.132107 0.369391 0.36726C0.134239 0.602412 0.00213119 0.921347 0.00213119 1.2539C0.00213119 1.58646 0.134239 1.90539 0.369391 2.14055L5.7392 7.49787L0.369391 12.8552C0.252343 12.9713 0.159441 13.1094 0.0960411 13.2616C0.0326416 13.4138 0 13.577 0 13.7418C0 13.9067 0.0326416 14.0699 0.0960411 14.2221C0.159441 14.3743 0.252343 14.5124 0.369391 14.6285C0.485482 14.7455 0.6236 14.8384 0.775777 14.9018C0.927954 14.9652 1.09118 14.9979 1.25603 14.9979C1.42089 14.9979 1.58411 14.9652 1.73629 14.9018C1.88847 14.8384 2.02659 14.7455 2.14268 14.6285L7.5 9.25867L12.8573 14.6285C12.9734 14.7455 13.1115 14.8384 13.2637 14.9018C13.4159 14.9652 13.5791 14.9979 13.744 14.9979C13.9088 14.9979 14.072 14.9652 14.2242 14.9018C14.3764 14.8384 14.5145 14.7455 14.6306 14.6285C14.7477 14.5124 14.8406 14.3743 14.904 14.2221C14.9674 14.0699 15 13.9067 15 13.7418C15 13.577 14.9674 13.4138 14.904 13.2616C14.8406 13.1094 14.7477 12.9713 14.6306 12.8552L9.2608 7.49787Z' fill='%2366696C'/%3E%3C/svg%3E%0A");
}

.post__new-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.post__new-create {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-top: 1px solid #ced0d4;
  border-bottom: 1px solid #ced0d4;
  background-color: #ffffff;
}

.post__new-create .post__avatar {
  width: 35px;
}

.post__new-textarea {
  flex: 1;
  max-height: 70px;
  padding: 5px;
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  background-color: #f2f3f5;
  overflow-y: auto;
  outline: none;
  resize: none;
}

.post__new-public {
  width: 100%;
  padding: 10px;
}

.send-btn {
  margin-left: auto;
  padding: 5px 10px;
  border: 1px solid #4469ae;
  border-radius: 5px;
  background-color: #4469ae;
  color: #ffffff;
}

.post__change {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #D9DCE0;
}

.change-btn, 
.delete-btn {
  padding: 5px 10px;
  border: 1px solid #4469ae;
  border-radius: 5px;
  background-color: #4469ae;
  color: #ffffff;
}

.delete-btn {
  border: 1px solid #B04546;
  background-color: #B04546;
}

.post__change-wrapper {
  padding: 0;
  background-color: #f2f3f5;
}

.post__change-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
}

.post__change-title {
  font-weight: 600;
}

.post__change-create {
  padding: 10px 20px;
  border-top: 1px solid #ced0d4;
  border-bottom: 1px solid #ced0d4;
  background-color: #ffffff;
}

.post__change-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ced0d4;
}

.post__change-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.post__change-form .post__avatar {
  width: 35px;
}

.post__change-textarea {
  flex: 1 1;
  max-height: 70px;
  padding: 5px;
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  background-color: #f2f3f5;
  overflow-y: auto;
  outline: none;
  resize: none;
}

.post__change-control {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;
}

.multimedia-change-btn,
.tag-change-btn,
.emoji-change-btn,
.location-change-btn,
.gif-change-btn {
  width: calc(50% - 5px);
  text-align: left;
  font-weight: 600;
  border: 1px solid #f2f3f5;
  border-radius: 15px;
  background-color: #f2f3f5;
  padding: 5px;
}

.multimedia-change-btn::before,
.tag-change-btn::before,
.emoji-change-btn::before,
.location-change-btn::before,
.gif-change-btn::before {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  line-height: 1;
  margin-right: 5px;
}

.multimedia-change-btn::before {
  content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3333 0H1.66667C0.747477 0 0 0.996636 0 2.22222V17.7778C0 19.0034 0.747477 20 1.66667 20H18.3333C19.2525 20 20 19.0034 20 17.7778V2.22222C20 0.996636 19.2525 0 18.3333 0Z' fill='%23303C42'/%3E%3Cpath d='M0.833008 2.2222C0.833008 1.60967 1.20695 1.11108 1.66634 1.11108H18.333C18.7924 1.11108 19.1663 1.60967 19.1663 2.2222V15.881L12.7943 7.38496C12.6315 7.16794 12.3678 7.16794 12.2051 7.38496L7.08301 14.2144L5.29427 11.8294C5.13151 11.6124 4.86784 11.6124 4.70508 11.8294L0.833008 16.9922V2.2222Z' fill='%2357C1EF'/%3E%3Cpath d='M18.3335 18.889H1.6668C1.37393 18.889 1.12816 18.6744 0.979492 18.3688L5.00013 13.0079L7.6222 16.504C7.78496 16.721 8.04863 16.721 8.21139 16.504C8.37415 16.287 8.37415 15.9354 8.21139 15.7184L7.67266 15.0001L12.5001 8.56348L19.1668 17.4524V17.7779C19.1668 18.3904 18.7929 18.889 18.3335 18.889Z' fill='%237CB342'/%3E%3Cpath opacity='0.1' d='M18.8641 17.0486C18.7139 17.3424 18.4735 17.5477 18.1874 17.5477H1.59518L0.979492 18.3686C1.12816 18.6743 1.37393 18.8889 1.6668 18.8889H18.3335C18.7929 18.8889 19.1668 18.3903 19.1668 17.7778V17.4522L18.8641 17.0486Z' fill='%23010101'/%3E%3Cpath d='M5.5999 8.7999C7.36721 8.7999 8.7999 7.36721 8.7999 5.5999C8.7999 3.83259 7.36721 2.3999 5.5999 2.3999C3.83259 2.3999 2.3999 3.83259 2.3999 5.5999C2.3999 7.36721 3.83259 8.7999 5.5999 8.7999Z' fill='%23303C42'/%3E%3Cpath d='M5.6002 7.99995C6.92568 7.99995 8.0002 6.92543 8.0002 5.59995C8.0002 4.27447 6.92568 3.19995 5.6002 3.19995C4.27471 3.19995 3.2002 4.27447 3.2002 5.59995C3.2002 6.92543 4.27471 7.99995 5.6002 7.99995Z' fill='%23FFCB29'/%3E%3Cpath opacity='0.1' d='M12.4824 8.5866L14.4011 11.0985L12.4998 8.56348L12.4824 8.5866Z' fill='%23010101'/%3E%3C/svg%3E%0A");
}

.tag-change-btn::before {
  content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9715 19.4323L17.0548 11.9323C16.9312 11.6117 16.4022 11.6117 16.2785 11.9323L16.0243 12.5859C14.3519 11.7575 11.8843 10.8333 9.16667 10.8333C6.31103 10.8333 3.7207 11.855 2.05078 12.7123C0.786133 13.3617 0 14.6435 0 16.0566V16.6666C0 17.5857 0.747884 18.3332 1.66667 18.3332H13.7892L13.3618 19.4323C13.304 19.5796 13.3358 19.7468 13.4424 19.864C13.5482 19.9812 13.7118 20.0271 13.8647 19.984L16.6667 19.1832L19.4686 19.984C19.5068 19.9946 19.5451 19.9999 19.5833 19.9999C19.6989 19.9999 19.8112 19.9519 19.891 19.864C19.9976 19.7468 20.0293 19.5796 19.9715 19.4323Z' fill='%23303C42'/%3E%3Cpath d='M1.66634 17.4999C1.20654 17.4999 0.833008 17.126 0.833008 16.6666V16.0567C0.833008 14.9572 1.4458 13.9599 2.43132 13.4537C4.01904 12.6383 6.47673 11.6666 9.16634 11.6666C11.7336 11.6666 14.081 12.5513 15.719 13.3703L14.113 17.4999H1.66634Z' fill='%233D82C4'/%3E%3Cpath d='M16.7812 18.349C16.7438 18.3384 16.7048 18.3332 16.6665 18.3332C16.6283 18.3332 16.5892 18.3384 16.5518 18.349L14.4424 18.952L16.6665 13.2327L18.8906 18.952L16.7812 18.349Z' fill='%23D32E2E'/%3E%3Cpath d='M9.16699 9.99996C11.9284 9.99996 14.167 7.76139 14.167 4.99998C14.167 2.23857 11.9284 0 9.16699 0C6.40557 0 4.16699 2.23857 4.16699 4.99998C4.16699 7.76139 6.40557 9.99996 9.16699 9.99996Z' fill='%23303C42'/%3E%3Cpath d='M9.16667 9.16655C11.4679 9.16655 13.3333 7.30108 13.3333 4.9999C13.3333 2.69872 11.4679 0.833252 9.16667 0.833252C6.86548 0.833252 5 2.69872 5 4.9999C5 7.30108 6.86548 9.16655 9.16667 9.16655Z' fill='%233D82C4'/%3E%3Cpath opacity='0.1' d='M11.4007 1.49487C11.5639 1.94058 11.667 2.41533 11.667 2.91683C11.667 5.21419 9.7977 7.08348 7.50034 7.08348C6.67707 7.08348 5.91363 6.83589 5.2666 6.42212C5.85091 8.01818 7.37115 9.16681 9.167 9.16681C11.4644 9.16681 13.3337 7.29751 13.3337 5.00016C13.3337 3.52606 12.5592 2.23574 11.4007 1.49487Z' fill='%23010101'/%3E%3Cpath d='M19.9715 19.4323L17.0548 11.9323C16.9312 11.6117 16.4022 11.6117 16.2785 11.9323L16.0243 12.586C14.3519 11.7576 11.8843 10.8333 9.16667 10.8333C6.31103 10.8333 3.7207 11.855 2.05078 12.7124C0.786133 13.3618 0 14.6435 0 16.0567V16.6666C0 17.5858 0.747884 18.3333 1.66667 18.3333H13.7892L13.3618 19.4323C13.304 19.5796 13.3358 19.7468 13.4424 19.864C13.5482 19.9812 13.7118 20.0272 13.8647 19.9841L16.6667 19.1833L19.4686 19.9841C19.5068 19.9946 19.5451 19.9999 19.5833 19.9999C19.6989 19.9999 19.8112 19.9519 19.891 19.864C19.9976 19.7468 20.0293 19.5796 19.9715 19.4323ZM9.16667 9.99996C11.9238 9.99996 14.1667 7.75713 14.1667 4.99998C14.1667 2.24283 11.9238 0 9.16667 0C6.40951 0 4.16667 2.24283 4.16667 4.99998C4.16667 7.75713 6.4095 9.99996 9.16667 9.99996Z' fill='url(%23paint0_linear_306_50)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_306_50' x1='2.43559' y1='7.6043' x2='21.4863' y2='16.4878' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.2'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.emoji-change-btn::before {
  content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z' fill='%23F9BC15'/%3E%3Cpath d='M4.80756 7.39107L5.82099 6.37764C6.1679 6.03077 6.7323 6.03072 7.07921 6.37764L8.09264 7.39107C8.19877 7.49716 8.33786 7.55025 8.47695 7.55025C8.61604 7.55025 8.75512 7.49716 8.86125 7.39107C9.07347 7.17881 9.07347 6.83468 8.86125 6.62246L7.84786 5.60903C7.07717 4.83829 5.82317 4.83838 5.05247 5.60903L4.03908 6.62246C3.82682 6.83468 3.82682 7.17881 4.03908 7.39107C4.25121 7.6032 4.5953 7.60329 4.80756 7.39107Z' fill='%2341464A'/%3E%3Cpath d='M11.9073 7.39107L12.9207 6.37764C13.2676 6.03077 13.832 6.03072 14.1789 6.37764L15.1923 7.39107C15.2984 7.49716 15.4376 7.55025 15.5766 7.55025C15.7157 7.55025 15.8548 7.49716 15.9609 7.39107C16.1731 7.17881 16.1731 6.83468 15.9609 6.62246L14.9475 5.60903C14.1768 4.83829 12.9228 4.83838 12.1521 5.60903L11.1387 6.62246C10.9264 6.83468 10.9264 7.17881 11.1387 7.39107C11.3509 7.6032 11.695 7.60329 11.9073 7.39107Z' fill='%2341464A'/%3E%3Cpath d='M14.2757 10.5962C14.0635 10.3839 13.7194 10.384 13.5071 10.5962C13.2949 10.8085 13.2949 11.1526 13.5071 11.3648L14.0504 11.9082C13.3179 13.4575 11.7315 14.4764 9.99994 14.4764C8.26833 14.4764 6.68198 13.4575 5.94946 11.9082L6.49281 11.3648C6.70503 11.1526 6.70503 10.8085 6.49281 10.5962C6.28055 10.3841 5.93646 10.3841 5.7242 10.5962L4.11916 12.2013C3.9069 12.4135 3.9069 12.7576 4.11916 12.9699C4.22529 13.076 4.36437 13.1291 4.50346 13.1291C4.64255 13.1291 4.78163 13.076 4.88777 12.9699L5.14259 12.7151C5.54881 13.4422 6.1139 14.0698 6.80616 14.5558C7.74485 15.215 8.84924 15.5634 9.99994 15.5634C11.1507 15.5634 12.2551 15.215 13.1938 14.5558C13.886 14.0698 14.4511 13.4422 14.8573 12.7151L15.1122 12.9699C15.2183 13.076 15.3573 13.1291 15.4965 13.1291C15.6355 13.1291 15.7746 13.076 15.8808 12.9699C16.093 12.7576 16.093 12.4135 15.8808 12.2013L14.2757 10.5962Z' fill='%2341464A'/%3E%3C/svg%3E%0A");
}

.location-change-btn::before {
  content: url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6657 15.1663C14.5733 15.3676 17.5189 16.2674 17.5189 17.3466C17.5189 18.5732 13.7061 19.5687 9.00019 19.5687C4.29568 19.5687 0.481445 18.5732 0.481445 17.3466C0.481445 16.2799 3.35921 15.3896 7.19798 15.1732C7.89625 16.1691 8.51511 17.0568 8.92464 17.7182C9.34812 17.0336 9.96987 16.1484 10.6657 15.1663Z' fill='%23DBDDDE'/%3E%3Cpath d='M8.92464 0.431152C12.6113 0.431152 15.6003 3.109 15.6003 6.41287C15.6003 8.27758 12.7875 12.1726 10.6657 15.1664C9.96987 16.1486 9.34812 17.0337 8.92464 17.7184C8.51511 17.057 7.89625 16.1693 7.19799 15.1733C5.08731 12.1644 2.24805 8.16419 2.24805 6.41287C2.24805 3.109 5.23697 0.431152 8.92464 0.431152ZM11.9073 6.18738C11.9073 4.71459 10.5676 3.51385 8.92464 3.51385C7.28076 3.51385 5.94101 4.71459 5.94101 6.18738C5.94101 7.65932 7.28076 8.85963 8.92464 8.85963C10.5676 8.85963 11.9073 7.65932 11.9073 6.18738Z' fill='%23E74C3C'/%3E%3Cpath d='M8.99998 19.9999C6.68068 19.9999 4.49368 19.7626 2.84186 19.3317C0.982673 18.8466 0 18.1602 0 17.3467C0 15.7231 3.86111 14.9294 7.16755 14.7429C7.43217 14.7276 7.66138 14.9085 7.67804 15.1462C7.69473 15.3838 7.49324 15.5886 7.22794 15.6035C5.39734 15.7068 3.74012 15.9709 2.56149 16.3472C1.38128 16.7241 0.962461 17.1212 0.962461 17.3467C0.962461 17.5682 1.41496 18.0613 3.11096 18.5037C4.67775 18.9125 6.76918 19.1377 8.99998 19.1377C11.2313 19.1377 13.3229 18.9125 14.8895 18.5037C16.5851 18.0613 17.0375 17.5683 17.0375 17.3467C17.0375 16.7662 14.7586 15.8091 10.6379 15.5968C10.3725 15.5831 10.1698 15.3793 10.1851 15.1416C10.2004 14.9038 10.4272 14.7215 10.6932 14.7359C14.0639 14.9096 18 15.6975 18 17.3467C18 18.1602 17.0175 18.8466 15.1587 19.3317C13.507 19.7626 11.3198 19.9999 8.99998 19.9999Z' fill='%238B1033'/%3E%3Cpath d='M8.92491 18.1495C8.75003 18.1495 8.58897 18.0645 8.50408 17.9275C8.10639 17.2853 7.49282 16.4041 6.7907 15.4026L6.79075 15.4027L6.6279 15.1706C4.46232 12.0845 1.76709 8.24377 1.76709 6.41287C1.76709 2.87678 4.9781 0 8.92491 0C12.8712 0 16.0818 2.87678 16.0818 6.41287C16.0818 8.33509 13.5448 11.9117 11.3065 15.0672L11.0723 15.3975C10.3757 16.3806 9.76505 17.2495 9.34585 17.9273C9.26105 18.0644 9.09999 18.1494 8.92506 18.1495H8.92491ZM8.92491 0.862292C5.50875 0.862292 2.72955 3.35225 2.72955 6.41287C2.72955 7.99526 5.45365 11.8772 7.44272 14.7117L7.60567 14.9439L7.60572 14.944C8.11885 15.6759 8.56361 16.3132 8.92496 16.8567C9.30249 16.29 9.75937 15.6415 10.2597 14.9354L10.4941 14.6047C12.4461 11.8529 15.1193 8.08425 15.1193 6.41287C15.1193 3.35225 12.3405 0.862292 8.92491 0.862292Z' fill='%238B1033'/%3E%3Cpath d='M8.92433 9.29083C7.0138 9.29083 5.45947 7.89866 5.45947 6.18745C5.45947 4.47549 7.0138 3.08276 8.92433 3.08276C10.8343 3.08276 12.3882 4.47549 12.3882 6.18745C12.3882 7.89866 10.8343 9.29083 8.92433 9.29083ZM8.92433 3.94506C7.5445 3.94506 6.42193 4.95101 6.42193 6.18745C6.42193 7.4232 7.5445 8.42854 8.92433 8.42854C10.3036 8.42854 11.4258 7.4232 11.4258 6.18745C11.4258 4.95096 10.3036 3.94506 8.92433 3.94506Z' fill='%238B1033'/%3E%3C/svg%3E%0A");
}

.gif-change-btn::before {
  content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9999 9.4855e-05L6.99991 0.000176158C3.13395 0.000228544 0 3.13421 0 7.00017V13C0 16.866 3.13401 20 7 20H13C16.866 20 20 16.866 20 13V7.0001C20 3.13406 16.8659 4.24682e-05 12.9999 9.4855e-05Z' fill='url(%23paint0_linear_306_75)'/%3E%3Cpath d='M17.1156 8.96005H15.791C14.9294 8.96005 14.231 8.26161 14.231 7.40005V7.40005C14.231 6.53848 14.9294 5.84005 15.791 5.84005H17.1156C17.2686 5.84005 17.4154 5.78526 17.5236 5.68774C17.6318 5.59023 17.6925 5.45796 17.6925 5.32005C17.6925 5.18214 17.6318 5.04987 17.5236 4.95235C17.4154 4.85483 17.2686 4.80005 17.1156 4.80005H13.6541C13.5011 4.80005 13.3543 4.85483 13.2461 4.95235C13.1379 5.04987 13.0771 5.18214 13.0771 5.32005V14.68C13.0771 14.818 13.1379 14.9502 13.2461 15.0477C13.3543 15.1453 13.5011 15.2 13.6541 15.2C13.8071 15.2 13.9538 15.1453 14.062 15.0477C14.1702 14.9502 14.231 14.818 14.231 14.68V12.8847C14.231 11.2915 15.5225 10 17.1156 10V10C17.2686 10 17.4154 9.94526 17.5236 9.84774C17.6318 9.75023 17.6925 9.61796 17.6925 9.48005C17.6925 9.34214 17.6318 9.20987 17.5236 9.11235C17.4154 9.01483 17.2686 8.96005 17.1156 8.96005Z' fill='%23F8EDEB'/%3E%3Cpath d='M4.61531 5.84005C4.92133 5.84005 5.21481 5.94962 5.4312 6.14466C5.64759 6.3397 5.76916 6.60422 5.76916 6.88005C5.76916 7.01796 5.82994 7.15023 5.93813 7.24774C6.04633 7.34526 6.19307 7.40005 6.34608 7.40005C6.49909 7.40005 6.64583 7.34526 6.75403 7.24774C6.86222 7.15023 6.923 7.01796 6.923 6.88005C6.923 6.3284 6.67987 5.79934 6.24709 5.40927C5.81432 5.01919 5.22735 4.80005 4.61531 4.80005C4.00327 4.80005 3.4163 5.01919 2.98353 5.40927C2.55075 5.79934 2.30762 6.3284 2.30762 6.88005V13.12C2.30762 13.6717 2.55075 14.2008 2.98353 14.5908C3.4163 14.9809 4.00327 15.2 4.61531 15.2C5.22735 15.2 5.81432 14.9809 6.24709 14.5908C6.67987 14.2008 6.923 13.6717 6.923 13.12V10.52C6.923 10.3821 6.86222 10.2499 6.75403 10.1524C6.64583 10.0548 6.49909 10 6.34608 10H5.19223C5.03922 10 4.89248 10.0548 4.78429 10.1524C4.67609 10.2499 4.61531 10.3821 4.61531 10.52C4.61531 10.658 4.67609 10.7902 4.78429 10.8877C4.89248 10.9853 5.03922 11.04 5.19223 11.04V11.04C5.51086 11.04 5.76916 11.2983 5.76916 11.617V13.12C5.76916 13.3959 5.64759 13.6604 5.4312 13.8554C5.21481 14.0505 4.92133 14.16 4.61531 14.16C4.30929 14.16 4.01581 14.0505 3.79942 13.8554C3.58303 13.6604 3.46146 13.3959 3.46146 13.12V6.88005C3.46146 6.60422 3.58303 6.3397 3.79942 6.14466C4.01581 5.94962 4.30929 5.84005 4.61531 5.84005Z' fill='%23F8EDEB'/%3E%3Cpath d='M10.0002 4.80005C9.79618 4.80005 9.60052 4.85483 9.45626 4.95235C9.312 5.04987 9.23096 5.18214 9.23096 5.32005V14.68C9.23096 14.818 9.312 14.9502 9.45626 15.0477C9.60052 15.1453 9.79618 15.2 10.0002 15.2C10.2042 15.2 10.3999 15.1453 10.5441 15.0477C10.6884 14.9502 10.7694 14.818 10.7694 14.68V5.32005C10.7694 5.18214 10.6884 5.04987 10.5441 4.95235C10.3999 4.85483 10.2042 4.80005 10.0002 4.80005Z' fill='%23F8EDEB'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_306_75' x1='-1.27' y1='1.95025' x2='13.96' y2='23.272' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235E4D9A'/%3E%3Cstop offset='1' stop-color='%23FC7EC4'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.post__change-save {
  width: 100%;
  padding: 10px;
}

.save-btn {
  margin-left: auto;
  padding: 5px 10px;
  border: 1px solid #4469ae;
  border-radius: 5px;
  background-color: #4469ae;
  color: #ffffff;
}

@keyframes load {
  to {transform: rotate(360deg);}
}

.loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #808080;
  border-top-color: #ffffff00;
  border-bottom-color: #ffffff00;
  animation: load 1s linear infinite;
}